# pip install -r requirements.txt

# Base ----------------------------------------
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
# torch
# torchvision
tqdm

# Logging -------------------------------------
tensorboard
# wandb

# Plotting ------------------------------------
pandas
seaborn

# Extras --------------------------------------
# albumentations>=1.0.3
# Cython  # for pycocotools https://github.com/cocodataset/cocoapi/issues/172
# pycocotools>=2.0  # COCO mAP
# roboflow
thop  # FLOPs computation


# deep_sort -----------------------------------
easydict
Cython
h5py
six
tb-nightly
future
yacs
gdown
flake8
yapf
isort
imageio


# UI ------------------------------------------
PySide6
pytube
cx_Freeze