# pip install -r requirements.txt

# base ----------------------------------------

matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm

# plotting ------------------------------------

pandas
seaborn

# deep_sort -----------------------------------

easydict

# torchreid

Cython
h5py
six
tb-nightly
future
yacs
gdown
flake8
yapf
isort
imageio